name: 'nx ui frontend'

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**/*.md'
      - '**/*.gitignore'
      - '**/*.gitattributes'
  pull_request:
    branches:
      - main
    paths-ignore:
      - '**/*.md'
      - '**/*.gitignore'
      - '**/*.gitattributes'
  workflow_dispatch:
    branches:
      - main
    paths-ignore:
      - '**/*.md'
      - '**/*.gitignore'
      - '**/*.gitattributes'

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
      DOTNET_NOLOGO: true
      DOTNET_GENERATE_ASPNET_CERTIFICATE: false
      DOTNET_ADD_GLOBAL_TOOLS_TO_PATH: false
      DOTNET_MULTILEVEL_LOOKUP: 0

    steps:
      - uses: actions/checkout@v2

      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v1.8.1
        with:
          dotnet-version: 6.0.x

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 17.x

      - name: Install PNPM
        run: npm install --global pnpm

      - name: Install Nx dependencies
        run: pnpm install

      - name: Build Angular app weather-api-ui-1
        run: pnpm exec nx build weather-api-ui-1

      - name: Test Angular app weather-api-ui-1
        run: pnpm exec nx test weather-api-ui-1

      - name: Build Angular app weather-api-ui-2
        run: pnpm exec nx build weather-api-ui-2

      - name: Test Angular app weather-api-ui-2
        run: pnpm exec nx test weather-api-ui-2
